#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.folder-hover{
  cursor: pointer;
  text-decoration: none;
}

.folder-hover:hover{
  cursor: pointer;
  text-decoration: underline;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #3954e0;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1D2A51;
  background-color: #4660e3;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}




